{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1>Project index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Start</th>
                <th>End</th>
                <th>Client</th>
                <th>Company</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.status.value }}</td>
                <td>{{ project.start ? project.start|date('Y-m-d H:i:s T') : '' }}</td>
                <td>{{ project.end ? project.end|date('Y-m-d H:i:s T') : '' }}</td>
                <td>{{ project.client }}</td>
                <td>{{ project.company }}</td>
                <td>
                    <a href="{{ path('admin_project_show', {'id': project.id}) }}">show</a>
                    <a href="{{ path('admin_project_edit', {'id': project.id}) }}">edit</a>
                    <a href="{{ path('admin_task_index', {'project': project.id}) }}">Tasks</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_project_new') }}">Create new</a>
{% endblock %}
